@font-face {
    font-family: "FinkHeavy";
    src: url("/themes/uiuctf/static/fonts/FinkHeavy.eot"); /* IE9 Compat Modes */
    src: url("/themes/uiuctf/static/fonts/FinkHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("/themes/uiuctf/static/fonts/FinkHeavy.otf") format("opentype"), /* Open Type Font */
      url("/themes/uiuctf/static/fonts/FinkHeavy.svg") format("svg"), /* Legacy iOS */
      url("/themes/uiuctf/static/fonts/FinkHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
      url("/themes/uiuctf/static/fonts/FinkHeavy.woff") format("woff"), /* Modern Browsers */
      url("/themes/uiuctf/static/fonts/FinkHeavy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  /* CTFd\themes\uiuctf\static\fonts\FinkHeavy.eot */

a {color:#71B5FB;}

body {
    background-color: #FAE0A5;
    color: #835B28!important
}

.text-muted {
    color: #835B28!important;
}

.table {
    color: #835B28!important;
}

.container {
    font-family: 'FinkHeavy'!important;
}

.recipe-shell {
    /* width: 30px; */
    height: 200px;
    padding: 6px 0px;
    border-radius: 15px !important;
    border: 10px solid #F5F7F9 !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857; 
    background-attachment: fixed;
    background-image: url("/themes/uiuctf/static/img/challenge-block-background.png"); 
    font-size: 20px;  
    color: #835B28;
}

.recipe-shell:hover {
    border: 10px solid #b7b398!important;
    /* opacity: 1; */
}

.dashed {
    text-decoration-line: underline!important;
    text-decoration-style: dashed!important;
    font-family: 'FinkHeavy'!important
}

.roundedbtn {
    border-radius: 15px;
    color:#835B28;
    border-color: #835B28;
    border:none;
    background-color:#E0D8B4;
    margin-left:40px;
}

.roundedbtn:hover {
    color:red;
    background-color: #D7C885;
}

#challenge-window .modal-content {
    border-radius: 15px !important;
    background-color: #ECE8CB;
    font-family: 'FinkHeavy'!important;
    color: #835B28;
    /* font-family: 'fot-seurat-pron', sans-serif;
    font-style: normal;
    font-weight: 600; */
}

#challenge-window .modal-content .modal-body {
    border-radius: 15px !important;
    background-color: #E7E0C3;
}

#challenge-window .modal-content .modal-body .nav-link.active {
    background-color: #DED5AC;
    color: #835B28;
}

#challenge-window .modal-content .modal-body .nav-link {
    color: #835B28;
}

#challenge-window .challenge-name {
    color: #835B28;
    margin-left: auto;
    margin-right: auto;
}

#challenge-window .challenge-value {
    margin-left: auto;
    margin-right: auto;
}

#challenge-window .form-control {
    background: #E0D8B4;
    border: none;
    color: #835B28;
    font-family: 'FinkHeavy';
    border-radius: 15px;
}

#challenge-window .form-control::placeholder {
    color: #835B28;
}

#challenge-window .center-content {
    margin-left: auto;
    margin-right: auto;
}

#challenge-window .position {
    margin-left: auto;
    padding-right: 15px;
}

#challenge-window .challenge-tag {
    background-color: #F5F7E1!important;
    color: #835B28;
}

#challenge-window .load-hint {
    background-color: #F5F7E1!important;
    color: #835B28;
    border:none;
    margin-top: 15px;
    border-radius: 15px;
}

#challenge-window .download-format {
    background-color: #F5F7E1!important;
    color: #835B28;
    border:none;
    margin-top: 15px;
    border-radius: 15px;
}

/* #challenge-window .challenge-files {
    margin-left: auto;
    margin-right: auto;
} */

#challenge-window .chall-desc {
    background-color: #E0D8B4;
    border-radius: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

#challenge-window .desc-title {
    margin-top: 25px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.pos-adjust {
    margin-top:10px;
}